section:nth-child(4) {
    header {

        h5 {
            margin: 10px 0px;
            color: #fff;
        }
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
        margin: 40px 0px;

        img {
            width: 70px;
        }
    }
}