.row-6-card-header {
    text-align: center;
    
    h5 {
        color: $darkFontColor;
    }
}

.row-6-card-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 5px;

        a {
            text-decoration: none;
            font-size: 0.9em;
        }
    }

    p {
        font-size: 0.9em;
        margin: 0px;
        color: $darkFontColor;
    }
}

.row-6-card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
        margin: 20px 0px;
        color: $darkFontColor;
    }

    button {
        @include mainButton;

        &:hover {
            @include secButton;
            color: #000;
            border: 1px solid #000;
        }
    }
}