.header-top {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

    .header-top-left {
        color: white;
        font-weight: 500;

        p {
            user-select: all;
        }
    }

    .header-top-right {
        button {
            @include mainButton;

            &:hover {
                @include secButton;
            }
        }
    }
}