.row-1 {
    background: url(../img/backgrounds/background-01.jpg) no-repeat fixed center;
    background-size: cover;

    @import "_header";
    @import "_cover";

    .toggle-navbar {
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;

        button {
            @include mainButton;
        }
    }
}

@import "./media-queries";