.row-3-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row-3-left-item {
        display: flex;

        .row-3-left-image {
            @include secButton;
            color: $accentColor;
            align-self: center;
            border-radius: 100px;
            padding: 16px 20px;
            background-color: rgba(130, 139, 244, .1);
            cursor: pointer;
        }

        &:hover .row-3-left-image {
            @include mainButton;
            border-radius: 100px;
            padding: 16px 20px;
        }

        .row-3-left-text {
            padding: 0px 15px;

            h3 {
                font-size: 18px;
            }
        }
    }
}